@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.exo-2 {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  #login-btn{
    color: white;
    text-decoration: none;
    font-weight:600;
    font-size:20px;
    margin-right:25px;
    border: 3px solid white;
    padding: 10px 30px;  
}
#signup-btn{
    font-size: 20px;
    color: white;
    font-weight:600;
    background-color: #222831;
    text-decoration: none;
    margin-right: 80px;
    padding: 10px 30px;    
    border: 1px solid transparent;
}

.monoton-regular {
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-font{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

header{
    height:70px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding:15px;
    position:fixed;
    z-index: 1;
}

header #left{
    margin-left: 370px;
}

header a{
    color:white;
    font-weight: 700;
    font-size:30px;
    font-style: italic;
    margin-right: 100px;
    text-decoration: none;
}
header input {
    height:100%;
    width:30%;
    padding:5px 3px;
    outline: none;
}
header input::placeholder{
    font-style: italic;
    font-size: larger;
}

header>i {
    font-size:25px;
    padding: 6px;
    color: white;
    border: 1px solid white;
    padding: 6px;
}
#container{
    /* background-color:  #EB5B00; */
    background: linear-gradient(120deg,#222831 60%,#EB5B00 10%);
    height:400px;
    width: 100%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    /* overflow-y:hidden; */
}
#container #right img{
    height: 570px;
    margin-right: 50px;
    transform: rotate(180deg);
}
#container #left h1{
    color: white;
    font-size:100px;

}
#container #left p{
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}
#main-body{
    height: 200vh;
    margin:10px 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main-body .heading{
    letter-spacing:-1px;
    font-size:25px;
    color: #222831;
}

#section1 #box{
    padding:20px 50px;
    display: flex;
    background-color: white;
    row-gap: 15px;
    column-gap: 10px;
    justify-content:flex-start;
    flex-wrap: wrap;
}
#box .box{
    height: 280px;
    width: 300px;
    border-radius: 20px;
    border: 3px solid #222831;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    /* background-color: #222831; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
#box .box:hover{
    transform: scale(1.02);
}
#box .box #img-div{
    height: 65%;
    width: 100%;
    border-radius:20px ;
    background-color: white;
    overflow: hidden;
}

#img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#details{
    padding-left:10px ;
}
#details i {
    color: #16C47F;
    font-weight: 600;
}

#details h4{
    font-weight: 400;
}
#details .rating{
    display: flex;
    gap: 5px;
    align-items: center;
}
#details p{
    color: #222831;
    font-size: 20px;
    font-weight: 700;
}
#details h3{
    font-weight: 700;
    font-size: 15px;
    color: rgb(94, 94, 94);
}
#section2{
    height: 260px;
}
#the-container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
#the-container img{
    height: 27vh;
    transition: 0.1s ease-in-out;
}
#the-container img:hover{
    transform: scale(1.02);
}
#the-container a{
    text-decoration: none;
}