<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tap.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>FoodApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CollectData</display-name>
    <servlet-name>CollectData</servlet-name>
    <servlet-class>com.tap.servlets.CollectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectData</servlet-name>
    <url-pattern>/CollectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProducts</display-name>
    <servlet-name>GetProducts</servlet-name>
    <servlet-class>com.tap.servlets.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProducts</servlet-name>
    <url-pattern>/GetProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRestaurants</display-name>
    <servlet-name>GetAllRestaurants</servlet-name>
    <servlet-class>com.tap.servlets.GetAllRestaurants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRestaurants</servlet-name>
    <url-pattern>/GetAllRestaurants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.tap.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantServlet</display-name>
    <servlet-name>RestaurantServlet</servlet-name>
    <servlet-class>com.tap.servlets.RestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServlet</servlet-name>
    <url-pattern>/RestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tap.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemsServlet</display-name>
    <servlet-name>ItemsServlet</servlet-name>
    <servlet-class>com.tap.servlets.ItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsServlet</servlet-name>
    <url-pattern>/ItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.tap.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.tap.servlets.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.tap.servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAddress</display-name>
    <servlet-name>EditAddress</servlet-name>
    <servlet-class>com.tap.servlets.EditAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAddress</servlet-name>
    <url-pattern>/EditAddress</url-pattern>
  </servlet-mapping>
</web-app>